@value themes: "../themes.module.css";

.base {
  composes: font-size-regular from themes;
  font-weight: var(--font-weight-bold);
  height: calc(var(--minimum-spacing) * 10);
  border-radius: 8px;
  cursor: pointer;
  padding: calc(var(--minimum-spacing) * 2) calc(var(--minimum-spacing) * 4);
}

.primary {
  border: none;
  color: var(--white);
  background-color: var(--mid-blue);
}

.primary:hover {
  background-color: var(--dark-blue);
}

.secondary {
  border: 1px solid var(--mid-gray);
  background-color: var(--white);
  color: var(--dark-blue);
}

.secondary:hover {
  background-color: var(--light-gray);
}

.destructive {
  border: 1px solid var(--mid-gray);
  background-color: var(--white);
  color: var(--dark-red);
}

.destructive:hover {
  background-color: var(--light-gray);
}
