@value themes: "../themes.module.css";

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input-base {
  display: block;
  border-radius: 8px;
  border: 1px solid var(--dark-gray);
  width: 100%;
  padding: 8px;
  composes: font-size-regular from themes;
}

.input-base::placeholder {
  color: var(--dark-gray);
}

.input-base:focus {
  border: 1px solid var(--mid-blue);
  outline: 1px solid var(--mid-blue);
}

.input-invalid {
  border: 1px solid var(--dark-red);
}

.input-invalid:focus {
  border: 1px solid var(--dark-red);
  outline: 1px solid var(--dark-red);
}

.input-has-icon {
  padding-left: 40px;
}

.icon-container {
  position: absolute;
  margin-left: 8px;
  display: flex;
}

.error-message {
  color: var(--dark-red);
  composes: font-size-regular from themes;
}
