@font-face {
  font-family: lato;
  src: url('fonts/lato-bold-webfont.woff2') format('woff2'),
    url('fonts/lato-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: lato;
  src: url('fonts/lato-semibold-webfont.woff2') format('woff2'),
    url('fonts/lato-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: lato;
  src: url('fonts/lato-regular-webfont.woff2') format('woff2'),
    url('fonts/lato-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  --light-blue: #dbf2fe;
  --mid-blue: #0884c1;
  --dark-blue: #066390;
  --light-red: #fde3df;
  --mid-red: #ed3f25;
  --dark-red: #c6321e;
  --white: #fff;
  --light-gray: #ebebf0;
  --mid-gray: #c4c4c8;
  --dark-gray: #919196;
  --light-black: #555;
  --mid-black: #2b2b2b;
  --dark-black: #000;
  --font-family: lato, sans-serif;
}

* {
  box-sizing: border-box;
}
