@value themes: "../../../themes.module.css";

.base {
  composes: font-size-regular from themes;
  cursor: pointer;
  background: transparent;
  border: none;
}

.base::before {
  display: block;
  content: attr(title);
  font-weight: var(--font-weight-bold);
  height: 0;
  visibility: hidden;
}

.base:hover {
  font-weight: var(--font-weight-bold);
}

.default {
  font-weight: var(--font-weight-regular);
}

.selected {
  font-weight: var(--font-weight-bold);
}

.selected::after {
  display: block;
  content: '';
  background-color: var(--dark-blue);
  height: 2px;
  border-radius: var(--minimum-border-radius);
}
